<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lizhe.distributeddemo.mapper.TicketMapper">
    <resultMap id="baseMap" type="com.lizhe.distributeddemo.vo.Ticket">
        <!--<id property="id" column="id"/>-->
        <result property="ticketSeq" column="ticket_seq"/>
        <result property="ticketDate" column="ticket_date"/>
        <result property="fromStation" column="from_station"/>
        <result property="endStation" column="end_station"/>
        <result property="ticketStock" column="ticket_stock"/>
    </resultMap>
    <select id="getTicketBySeq" resultMap="baseMap">
        SELECT * FROM tb_ticket WHERE ticket_seq=#{ticketSeq}
    </select>
    <select id="listTicketSeq" resultType="java.lang.String">
        SELECT ticket_seq FROM tb_ticket
    </select>
</mapper>
